.container {
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
}

.container p {
    margin: 0 !important;
    padding: 5px !important;
}

.settings {
    display: flex;
    & > span {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
}
.tool_btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.is_active {
    background-color: rgba(0, 0, 0, 0.1);
}
.divider {
    width: 2px;
    background-color: $purple;
}

.font_size_select {
    padding: 4px 16px;
    border: 2px solid $light-gray;
    border-radius: 2px;
}
