.container {
    display: flex;
    border: 1px solid $purple;
    position: absolute;
    bottom: 100%;
    margin-bottom: 2px;
    left: 0;
    padding: 4px;
    background-color: white;
    transition: all 200ms ease;
    font-size: 12px;
    align-items: center;
    & > span {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
}
