.funnels_content{
    padding: 30px;
    width: 100%;
}

.cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap:20px;
    flex-wrap: wrap;
}

.card{
    background: #FFFFFF;
    border: 1px solid rgba(217, 217, 217, 0.6);
    border-radius: 20px;
   
}

.flex{
    display: flex;
    justify-content: space-between;

}

.card_descrip{
    padding: 17px;
}

.inputs{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 40px;
}

.full_centered{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 250px);
    div{
        text-align: center;
        p{
            margin-top: 20px;
        }
    }
}