.container {
    position: relative;
    display: inline-block;
    & img {
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    }
}

.settings {
    display: flex;
    border: 1px solid $purple;
    position: absolute;
    bottom: 100%;
    margin-bottom: 2px;
    left: 0;
    background-color: white;
    padding: 6px;
    & > span {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
    & > .settings_button {
        display: flex;
        font-size: 12px;
        white-space: nowrap;
        align-items: center;
        padding: 0 16px;
        grid-gap: 0 10px;
        &:not(:last-child) {
            border-right: 1px solid $purple;
        }
    }
}
.selected {
    outline: 1px solid green;
    padding: 6px;
}
