.mt{
    margin-top: 60px;
}

.centered{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 42px;
}

.login_btn{
    width: 374px;
    height: 56px;
}