.container {
    padding: 10px 0;
    & > .block {
        display: flex;
        flex-wrap: wrap;
        grid-gap: 16px;
        padding: 10px 0;
    }
}

.green {
    background-color: #84c301;
    border-radius: 16px;
    padding: 6px 20px;
    &:hover {
        background-color: #7db603;
    }
}

.red {
    background-color: #dd2530;
    border-radius: 16px;
    padding: 6px 20px;
    &:hover {
        background-color: #c71f2a;
    }
}
.blue_gradient {
    background: linear-gradient(
        180deg,
        #4249fe 0%,
        #867ef1 50.52%,
        #464dfd 100%
    );
    border-radius: 16px;
    padding: 6px 20px;
    &:hover {
        background: linear-gradient(
            180deg,
            #4249fe 0%,
            #867ef1 50.52%,
            #464dfd 100%
        );
    }
}
