html,
#__next,
body {
    height: 100%;
}

body {
    margin: 0;
}

body,
a {
    font-family: Poppins, serif;
}

.selected {
    border: 2px dashed green;
    padding: 0;
}

.width100{
    width: 100%;
}

.height100{
    height: 100vh;
}

.flex{
    display: flex;
}

.align_center{
    align-items: center;
}

.center{
    justify-content: center;
}

.flex_end{
    justify-content: flex-end;
}

.space_between{
    justify-content: space-between;
}

.column{
    flex-direction: column;
}