$light-purple: #d9d7f1;
$yellow: #fffdde;
$green: #e7fbbe;
$pink: #ffcbcb;
$blue: #b9fff8;
$purple: #9e97f6;
$black: #383838;
$red: #dc2626;
$light-gray: #d9d9d9;
$gray: #9c9c9c;

$block-bgc: #f4f4f4;
