.container {
    display: grid;
    grid-template-columns: repeat(3, 296px);
    gap: 0 12px;

    & > .block {
        display: flex;
        grid-template-columns: auto, 1fr;
        align-items: center;
        gap: 0 8px;
        & > div {
            flex: 1;
            margin-top: 20px;
        }
        & > .number {
            width: 32px;
            height: 32px;
            border: 1px solid rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(0, 0, 0, 0.25);
        }
        & .title {
            font-size: 16px;
            color: $black;
            display: flex;
            align-items: center;
            white-space: nowrap;
            gap: 0 12px;
            & > .line {
                height: 1px;
                width: 100%;
            }
            & > .normal {
                background-color: #e6e5e5;
            }
            & > .active {
                background-color: $purple;
            }
        }
        & .subtitle {
            font-size: 14px;
            color: $light-gray;
        }
    }
}
