.container {
    position: relative;
    display: inline-flex;
}

.selected_container {
    border: 1px solid skyblue;
    &:hover {
        border: 1px solid rgb(81, 162, 194);
    }
}

.line_container {
    width: 100%;
    padding: 8px 0;
}

.line_container > div {
    background-color: $orange;
    width: 100%;
    align-items: center;
}
.settings {
    display: grid;
    gap: 16px 0;
}
.menu_button {
    display: flex;
    white-space: nowrap;
    align-items: center;
    grid-gap: 0 10px;
    &:not(:last-child) {
        border-right: 1px solid $purple;
    }
    &:hover {
        color: $purple;
    }
}
