.top_container {
    width: 100%;
    height: 74px;
    background: #383838;
    position: relative;
    display: flex;
    align-items: center;

    .top_container_logo{
        margin-left: 32px;
    }

    .top_container_nav_bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 34px;
        img{
            padding-right: 20px;
        }
    }
}