.container {
    z-index: 501;
    position: relative;
}

.option {
}

.overflow {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    z-index: 500;
}
.body {
    z-index: 9999;
    position: absolute;
    background-color: blue;
    left: 0;
    right: 0;
    top: 100%;
}
