.container {
    z-index: 501;
    position: relative;
}

.container,
.container * {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.body {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 8px;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}

.option {
    padding: 8px;
    cursor: pointer;
    display: flex;
}

.option:hover {
    background-color: #ebeaf7;
}

.label_container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid white;
}

.label_container:hover {
    border: 2px solid #e2e1f5;
}
.label {
    display: flex;
    flex: 1;
}
.label > * {
    flex: 1;
}
.activeClassName {
    background-color: #dad8f7;
}
