.container {
    position: relative;
}

.selected_container {
    border: 1px solid skyblue;
    &:hover {
        border: 1px solid rgb(81, 162, 194);
    }
}

.menu {
    display: flex;
    border: 1px solid $purple;
    position: absolute;
    bottom: 100%;
    margin-bottom: 2px;
    left: 0;
    padding: 4px;
    background-color: white;
    transition: all 200ms ease;
    & > span {
        margin-left: 10px;
        display: flex;
        align-items: center;
    }
    & > .menu_button {
        display: flex;
        white-space: nowrap;
        align-items: center;
        grid-gap: 0 10px;
        &:not(:last-child) {
            border-right: 1px solid $purple;
        }
        &:hover {
            color: $purple;
        }
    }
}
